* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: rgba(255, 255, 255, 0.993);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gap {
  gap:1em;
}

h1 {
  font-size: 4rem;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5em;
}

/* Hero Section */
#heroSection {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
  url("header-background.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  nav img {
    height: 2em;
  }

  nav {
    width: 100%;
    padding: 1.5% 8%;
    z-index: 5;
    top:5%;
    transition: background-color 0.3s ease-in-out, position 0.3s ease-in-out, top 0.3s ease-in-out;
  
  }
  .navIcon{
    margin-top: 0;
    display: flex;
    gap: 1em;
  }
  nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap:  1.5em ;
    
  }
  nav img{
    margin-right: 3em ;
  }

   nav li,a,img{
    text-decoration: none !important;
    list-style: none !important;
    text-align: center;
    color: white;
    cursor: pointer;
   
  }
  nav li:active{
    color: #14bf98;
  }
  .navBar :hover {
    color: #14bf98;
  }
  .navIcon span {
    background: url(https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg)
      center center no-repeat;
    padding: 0.5em;
    text-align: center;
  }
  .hamBurger {
    display: none;
  }

  .menu-toggle {
    position: absolute;
    right: 1.5rem;
    top: 49%;
    transform: translate(0, -50%);
    height: 26px;
    width: 29px;

    &,
    &:hover {
      color: #000;
    }
  }

  .menu-toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    transition: all 0.3s ease;
    font-size: 2em;

    &.menu-toggle-bar--top {
      transform: translate(0, -8px);
    }
    &.menu-toggle-bar--middle {
    }
    &.menu-toggle-bar--bottom {
      transform: translate(0, 8px);
    }

    .nav-open & {
      &.menu-toggle-bar--top {
        transform: translate(0, 0) rotate(45deg);
      }
      &.menu-toggle-bar--middle {
        opacity: 0;
      }
      &.menu-toggle-bar--bottom {
        transform: translate(0, 0) rotate(-45deg);
      }
    }
  }
  


  .flexCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
  }

  .hero p {
    font-size: 1.5rem;
    width: 60%;
    font-weight: 200;
  }

  button {
    margin: 1.5em auto;
    padding: 1em 3em;
    border-style: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #14bf98;
    color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.104);
      color: #14bf98;
      border: 2px solid #14bf98;
      padding: calc(1em - 1px) 3em;
      box-sizing: border-box;
    }
  }
}

/* intro */
#intro {
  width: 80%;
  margin: 5em auto;
}
.mark {
  color: #14bf98;
}
.intro1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.intro1 h2 {
  color: #484a46;
  font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
  margin: 1em 0;
}
.introIcon {
  margin: 5em 0;
}
.introIcon h4 {
  padding: 2em 0;
}

blockquote {
  color: #6c6868;
  font: 400 1rem/1.5625rem "Open Sans", sans-serif;
  margin: 1em 0;
  font-style: italic;
}

#intro div img {
  max-width: 100%;

  display: block;
  border-radius: 4px;
  transition: transform 0.3s ease;
}
.scale-img {
  overflow: hidden;
}
#intro div img:hover {
  transform: scale(1.1);
}
.introIcon {
  display: flex;
  gap: 1em;
}
#intro .hexa {
  background: url("https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg")
    center/cover no-repeat;
  background-size: contain;
  padding: 2em;
  cursor: pointer;
}
#intro .hexa a {
  font-size: 2rem;
}

/* ABOUT */
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  width: 80%;
  margin: 0 auto;
  padding: 5em 0;
}
#about h2 {
  color: #484a46;
  font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
  margin: 1em 0;
}
#about div img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
  transition: transform 0.3s ease;
}
#about p,
li {
  color: #b0a6a6;
}
#about .mark {
  color: #14bf98;
}
#about ul {
  list-style: square;
  padding-left: 1.5em;
  margin: 1em 0;
}
#about li::marker {
  color: #14bf98;
}

/* Footer Section */
footer {
  background-color: #113448;
  color: white;
  margin-bottom: 5em;
  padding: 2em 0;
}

.footer-col {
  display: flex;
  column-gap: 3em;
  padding: 5em 0;
  margin: 0 auto;
  width: 80%;
}

footer a {
  color: white;
  display: block;
  cursor: pointer;
  padding: 0.2em;
}

footer div :nth-child(1) {
  max-width: 50%;
}

.copyright {
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  width: 100%;
  display: block;
}

footer p {
  font-size: 1rem;
  color: white;
}
/* services */

#serviceSection {
  background-color: #efe9e9;
  padding: 5em 0;
}
#serviceSection .data {
  width: 80%;
  margin: 0 auto;
}

#serviceSection .title {
  text-align: center;
}
#serviceSection .data {
  width: 80%;
}
.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 1em;
  margin: 2.5em 0;
  padding: 3em 0;
}

.card1,
.card2,
.card3 {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: white;
  position: relative;
  box-shadow: 10px 10px 25px black;
}

.card1 img,
.card2 img,
.card3 img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card1 > div:nth-child(even),
.card2 > div:nth-child(even),
.card3 > div:nth-child(even) {
  padding: 2em;
}

#card1 h4,
#card2 h4,
#card3 h4 {
  color: #484a46;
  font: 700 1.5rem/2.125rem "Montserrat", sans-serif;
  margin: 1em 0;
}

.card1 p,
.card2 p,
.card3 p {
  color: #787976;
  font: 400 1rem/1.5625rem "Open Sans", sans-serif;
  margin: 1em 0;
}

.card1 ul,
.card2 ul,
.card3 ul {
  list-style: square;
}
.card1 ::marker,
.card2 ::marker,
.card3 ::marker {
  color: #14bf98;
}
.card1 li,
.card2 li,
.card3 li {
  color: #787976;
  font: 400 1rem/1.5625rem "Open Sans", sans-serif;
  margin: 0.5em 1em;
}

.card1 h5,
.card2 h5,
.card3 h5 {
  color: #484a46;
  font: 700 1.25rem/1.5625rem "Montserrat", sans-serif;
  margin: 1em 0;
}

.cardContainer span {
  color: #14bf98;
}

#card2,
#card3 {
  background-color: #f0f0f0;
}

.cardContainer {
  button {
    margin: 1.5em auto;
    padding: 1em 3em;
    border-style: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #14bf98;
    color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.104);
      color: #14bf98;
      border: 2px solid #14bf98;
      padding: calc(1em - 1px) 3em;
      box-sizing: border-box;
    }
  }
}

.fullImg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.fullImg img {
  width: 100%;
  height: auto;
}
.fullImgData {
  margin: 3em;
}
.fullImgData img {
  width: 50%;
  height: 100%;
}

.fullImgData .mark {
  color: #14bf98;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.fullImgData h2 {
  color: #484a46;
  font-size: 2rem;
  margin-bottom: 1em;
}

.fullImgData p {
  color: #787976;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1em;
}

.fullImgData ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fullImgData li {
  color: #b0a6a6;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.fullImgData ul {
  padding-left: 1.5em;
}
.fullImgData ul::marker {
  border-radius: 50%;
  border: 1px solid black;
}

.fullImgData ul li {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  position: relative;
  margin-bottom: 0.5em;
}

.fullImgData ul li::before {
  content: counter(listItem);
  counter-increment: listItem;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: rgb(8, 8, 8);
  text-align: center;
  line-height: 1.5em;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 1px solid black;
}
.fullImgData ul li:hover {
  color: #14bf98;
}
.fullImgData ul li:hover::before {
  color: #14bf98;
  border: 2px solid #14bf98;
}
.fullImgData ul li:hover::before:active {
  background-color: #14bf98;
  color: black;
}
.range {
  position: relative;
  height: 2em;
  background-color: #14bf98;
  width: 100%;
}
.range2 {
  width: 50%;
  position: relative;
  height: 2em;
  background-color: #14bf98;
}
.range3 {
  width: 80%;
  position: relative;
  height: 2em;
  background-color: #14bf98;
}
.padd {
  padding: 0 2em;
}

/* call Section */
#callMe {
  background-color: #113448;
}
#callme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5em 0;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 2em;
  color: white;
  align-items: center;
}

.callData {
  padding: 1em 0;
}

.callData p:not(:first-child) {
  padding: 0.5em 0;
  color: #b0a6a6;
}

.callData h2 {
  padding: 1em 0;
}
.callData ul {
  margin-left: 1em;
  list-style: square;
}
.callData li::marker {
  color: #14bf98;
}

.contact {
  display: flex;
  gap: 1em;

  a {
    color: #14bf98;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  span:nth-child(odd) {
    font-size: 1.5rem;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
  justify-content: center;
}

form * {
  margin: 0.5em 0;
  padding: 1em 0;
}

.formData h4 {
  font-size: 1.5rem;
  margin: 1.6em 0;
  font-weight: 600;
}

#callme input:not(#check) {
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 1em;
  border: none;
  background-color: #0e4869;
  &:hover {
    border: 1px solid white;
  }
  &::placeholder {
    color: white;
    padding: 1em;
  }
}
#callme select {
  border-radius: 4px;
  outline: none;
  width: 100%;
  padding: 1em;
  border: none;
  background-color: #0e4869;
  color: white;
  &:hover {
    border: 1px solid white;
  }
}

.iconLink {
  margin-top: 1.5em;
}

.iconLink .hexa {
  background: url("https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg")
  center/cover no-repeat;
  background-size: contain;
  padding: 1em;
  cursor: pointer;
}

.iconLink .hexa a {
  font-size: 1em;
  margin: 0 0.5em;
}

button[type="submit"] {
  margin: 1.5em auto;
  padding: 1em 3em;
  border-style: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #14bf98;
  color: white;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.104);
  color: #14bf98;
  border: 2px solid #14bf98;
  padding: calc(1em - 1px) 3em;
  box-sizing: border-box;
}

/* team Section */
#team {
  margin: 6em auto;
}
#team .title {
  text-align: center;
  width: 60%;
  margin: 2em auto;
}
.teamImg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 3em;
}

/* Form Section */
#formSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5em 0;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 2em;
}

.formData {
  padding: 1em 0;
}

.formData p:not(:first-child) {
  padding: 0.5em 0;
  color: #b0a6a6;
}
.formData h2 {
  padding: 1em 0;
}

.contact {
  display: flex;
  gap: 1em;

  a {
    color: #14bf98;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  span:nth-child(odd) {
    font-size: 1.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form * {
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.formData h4 {
  font-size: 1.5rem;
  margin: 1.6em 0;
  font-weight: 600;
}
input,
textarea {
  outline: none;
  border: 1px solid #dadada;
  border-radius: 4px;

  &:hover {
    border: 1px solid black;
  }
}
.iconLink {
  margin-top: 1.5em;
}

.iconLink .hexa {
  background: url("https://www.free-css.com/assets/files/free-css-templates/preview/page259/aria/assets/images/hexagon-green.svg")
    center/cover no-repeat;
  background-size: contain;
  padding: 1em;
  cursor: pointer;
}

.iconLink .hexa a {
  font-size: 1em;
  margin: 0 0.5em;
}

button[type="submit"] {
  margin: 1.5em auto;
  padding: 1em 3em;
  border-style: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #14bf98;
  color: white;
  width: 100%;
}
button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.104);
  color: #14bf98;
  border: 2px solid #14bf98;
  padding: calc(1em - 1px) 3em;
  box-sizing: border-box;
}



/*/////////////////////// Media Queries//////////////////////////////////////////// */

@media only screen and (max-width: 990px) {
  .footer-col {
    display: flex;
    flex-direction: column;
  }

  footer div :nth-child(1) {
    max-width: 100%;
  }

  footer div {
    padding: 1em;
  }

  #formSection {
    grid-template-columns: 1fr;
  }

  nav .hexa {
    display: none;
  }
  

  .introIcon {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5em;
  }
  .cardContainer,
  .fullImg,
  .aboutContainer,#about{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .teamImg {
    flex-direction: column;
  }
  #callme {
    grid-template-columns: 1fr;
  }

  .navBar,
  .navBar ul {
    align-items: flex-end !important;
    
  }
  
}



@media only screen and (max-width: 768px) {
  .hamBurger {
    display: block !important;
    position: absolute;
    top:50%;right:10%;
  }
  .navBar ul{
    display: none !important ;
  }

  
  .navBar,
  .navBar ul {
    flex-direction: column;
    align-items: start !important;
    background-color: #0e4869;
    gap: 2em;
    width: 100%;
    
  }
 
  .intro1 {
    grid-template-columns: 1fr;
  }
  
  
}

.display-block{
  display: block ;
}




